<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.phadata.billing.mapper.OrderRecordsMapper">
    <!--    <select id="pageByConsumerQueryPage" resultType="net.phadata.billing.model.consumer.ConsumerResponse"
                parameterType="net.phadata.billing.model.consumer.ConsumerQueryPage">
            SELECT IFNULL(sum(amount),0)          as amountSum,
                   consumer_name         as consumerName,
                   consumer_company_code as consumerCompanyCode
            FROM order_records
            WHERE
            GROUP BY consumer_code;
            LIMIT #{consumerQueryPage.page.},
        </select>
        <select id="total" parameterType="net.phadata.billing.model.consumer.ConsumerQueryPage">
            SELECT COUNT(1)
            FROM order_records
            WHERE

            GROUP BY consumer_code;
        </select>-->


    <select id="platformPayProp" resultType="net.phadata.billing.model.statistics.DonutChart">
        select IFNULL(SUM(amount), 0) as `value`, platform_name as `name`
        from order_records
        group by platform_code
    </select>

    <select id="payAmountProp" resultType="net.phadata.billing.model.statistics.DonutChart">
        select IFNULL(SUM(amount), 0) as `value`, amount as `name`
        from order_records
        group by amount
    </select>

    <select id="platformGroup" resultType="net.phadata.billing.model.statistics.IdText">
        select platform_code as `id`, platform_name as `text`
        from order_records
        group by platform_code
    </select>

    <select id="platformPayTrend" resultType="net.phadata.billing.model.statistics.CommonVO">
        select FROM_UNIXTIME(create_time, '%Y-%m') AS `date`,
               IFNULL(SUM(amount), 0)              as `value`
        from order_records
        where platform_name = #{platformText}
          and date_sub(curdate(), INTERVAL 6 MONTH) &lt;= date (FROM_UNIXTIME(create_time))
        GROUP BY
            FROM_UNIXTIME( create_time, '%Y-%m' )
    </select>


    <select id="payCustomerTrend" resultType="net.phadata.billing.model.statistics.CommonVO">
        select FROM_UNIXTIME(create_time, '%Y-%m') AS `date`,
               IFNULL(COUNT(1), 0)                 as `value`
        from order_records
        where platform_name = #{platformText}
          and date_sub(curdate(), INTERVAL 6 MONTH) &lt;= date (FROM_UNIXTIME(create_time))
        GROUP BY
            FROM_UNIXTIME( create_time, '%Y-%m' )
    </select>
</mapper>
